<!DOCTYPE html>
<html>
<head>
  <!-- Styles -->
  <link rel= "stylesheet" type = "text/css" href = "../public/main.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../public/index.js" type = "text/javascript"></script>

  <title>UnivInfo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">UnivInfo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/universities">UNIVERSITIES</a></li>
          <li><a href="/programs">PROGRAMS</a></li>
          <li><a href="/residences">RESIDENCES</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h1 class="margin">What is UnivInfo?</h1>
    <p>We are a student-run site that helps incoming post-secondary students choose their universities and programs wisely</p>
    <!-- <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a> -->
  </div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">How to get started</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <h4>Search Universities</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <!-- <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
      </div>
      <div class="col-sm-4">
        <h4>Search Programs</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <!-- <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
      </div>
      <div class="col-sm-4">
        <h4>Search Residences</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <!-- <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>UnivInfo</p>
  </footer>

  <!-- <li id = "list">
  </li>

  <button onclick ="tryCall()">Get Students</button> -->

</body>
</html>
