<!DOCTYPE html>
<html>
<head>
  <!-- Styles -->
  <link rel= "stylesheet" type = "text/css" href = "../public/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src= "../public/universities.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UnivInfo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/universities">UNIVERSITIES</a></li>
          <li><a href="/programs">PROGRAMS</a></li>
          <li><a href="#">RESIDENCES</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-2 text-center">
    <h1 class="margin">Search Universities</h1>
    <!-- <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a> -->
  </div>

  <div class="list-group stump" id= "univList">

  </div>

</body>
</html>
